body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

// nav {
//   text-align: center;
//   // display: flex;
//   // flex-direction: row;
//   // justify-content: space-around;
//   padding: 25px;
//   background-image: linear-gradient(
//     to right,
//     #dae2f8 0%,
//     #d6a4a4 51%,
//     #dae2f8 100%
//   );
//   .guestbook,
//   .messages {
//     color: #fff;
//     text-decoration: none;
//     text-transform: uppercase;
//   }

//   .router-link-exact-active {
//     color: #6588e7;
//     border-bottom: 2px solid #6588e7;
//     padding-bottom: 2px;
//   }
// }

nav {
  background-image: linear-gradient(
    to right,
    #dae2f8 0%,
    #d6a4a4 51%,
    #dae2f8 100%
  );
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .router-link-exact-active {
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
  }

  .logo {
    margin-left: 70px;
    border: none;

    a {
      text-decoration: none;
      border: none;
      color: #fff;
      font-size: 22px;
      text-transform: initial;
      margin-left: 10px;
    }
  }

  .messages {
    margin-right: 200px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      font-size: 17px;
    }
  }
}

.home {
  text-align: center;
  margin-top: 200px;
  p {
    font-size: 25px;
    color: #505050;
  }
  button {
    background-color: #567eeb;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  }
}

.messages-list {
  text-align: center;
  // border: 2px solid green;
  width: 600px;
  margin: auto auto;
  margin-top: 10px;
  padding: 10px;

  button {
    background-color: #567eeb;
    color: #fff;
    padding: 10px 15px;
    margin: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  }
}

.messages-item {
  // border: 2px solid blue;
  padding: 10px 15px;
  margin: 15px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    transform: scale(1.01);
  }

  p {
    text-align: left;
    margin: 0;
    margin: 5px;
    color: #505050;

    span {
      color: #e57373;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
    }

    i {
      color: #6588e7;
    }
  }
}
